<footer>
    <p><span><i class="far fa-copyright"></i>&nbsp;Jonathan Whitney </span><span id="copyrightYear"></span></p>
</footer>

<script>
    var rpApp = rpApp || {},
        rpGame = rpGame || {};

    rpApp.assetsPath = '{{ site.baseurl }}/assets/';

    rpApp.preloadAssests = {
        images: ["boss-health.png","boss.png","congrats-back.png","congrats-btn.png","congrats-heroes.png","congrats-logo.png","congrats-sun.png","controls-small.png","controls.png","enemies.png","hero-select.png","hero.png","intro-controls-gamepad.png","intro-controls.png","intro-overlay.png","level1-back.png","level1-fore.png","level1-mid.png","level2-back.png","level2-fore.png","level2-mid.png","level3-back.png","level3-fore.png","level3-mid.png","level4-back.png","level4-fore.png","level4-mid.png","obstacles.png","powerups.png","projectile.png","sun.png","super-projectile.png","text-skip-button.png","text-skip-space.png","text-skip-touch.png","textbox.png","transition-back.png","transition-fore.png","transition-mid.png","walls.png"],
        mp3: ["collect.mp3","congrats-cheers.mp3","congrats-music.mp3","explosion.mp3","female-death.mp3","hero-shoot.mp3","intro-hero-select.mp3","intro-music.mp3","level-1-bomb.mp3","level-1-city-ambiance.mp3","level-1-music.mp3","level-1-soldier-death.mp3","level-1-soldier.mp3","level-2-fireball.mp3","level-2-firerock.mp3","level-2-jungle.mp3","level-2-music.mp3","level-2-pterodactyl-death.mp3","level-2-pterodactyl.mp3","level-3-eye-blink.mp3","level-3-eye-group.mp3","level-3-eye-splat.mp3","level-3-eye-tentacle.mp3","level-3-mud-sloshing.mp3","level-3-music.mp3","level-4-boss-death.mp3","level-4-boss-fire.mp3","level-4-boss-hurt.mp3","level-4-boss-laser.mp3","level-4-cybernetic.mp3","level-4-explosions.mp3","level-4-music.mp3","male-death.mp3","powerdown.mp3","powerup.mp3","transition.mp3","wall-break.mp3"],
        ogg: ["collect.ogg","congrats-cheers.ogg","congrats-music.ogg","explosion.ogg","female-death.ogg","hero-shoot.ogg","intro-hero-select.ogg","intro-music.ogg","level-1-bomb.ogg","level-1-city-ambiance.ogg","level-1-music.ogg","level-1-soldier-death.ogg","level-1-soldier.ogg","level-2-fireball.ogg","level-2-firerock.ogg","level-2-jungle.ogg","level-2-music.ogg","level-2-pterodactyl-death.ogg","level-2-pterodactyl.ogg","level-3-eye-blink.ogg","level-3-eye-group.ogg","level-3-eye-splat.ogg","level-3-eye-tentacle.ogg","level-3-mud-sloshing.ogg","level-3-music.ogg","level-4-boss-death.ogg","level-4-boss-fire.ogg","level-4-boss-hurt.ogg","level-4-boss-laser.ogg","level-4-cybernetic.ogg","level-4-explosions.ogg","level-4-music.ogg","male-death.ogg","powerdown.ogg","powerup.ogg","transition.ogg","wall-break.ogg"]
    };

    rpGame.content = {
        intro: ['You, an email hero, have been tasked to save the marketing universe from certain doom by completing three levels of play. You must pass a series of challenged in order to save the future of email.'],
        levels: {
            1: {
                intro: ['The city is in trouble. Somehow, all of the emails have gotten out! Now subscribers will never know about that sale they’ve been waiting for, or that their food delivery order was cancelled. But you can help!','','Collect the emails so that they can be delivered to the correct inboxes - and be sure to grab the power ups with the Return Path logo along the way. You can do it!'],
                outro: ['Congratulations, you’re our hero! You successfully captured the lost emails and they will be delivered to their rightful inboxes.'],
            },
            2: {
                intro: ['Oh no! Somehow, we\'ve reverted to a land where dinosaurs rule the Earth - and outdated versions of Outlook and Lotus Notes are the most popular email clients. Can you assist?','','Collect the emails and steer clear of the pterodactyls to help defeat old, outdated software. Remember to grab the power ups with the Return Path logo to aid in your mission. We’re betting on you!'],
                outro: ['Wow, that was a jurassic problem but you got through it. You successfully avoided the outdated software and we’re so thankful.'],
            },
            3: {
                intro: ['Oh my. There is confusion between read rates and open rates - and somehow eyeballs are all amiss. If we leave things like this, no one will have any quality metrics. Do you think you can help out one more time?','','Collect the emails and avoid the eyeballs so that the metrics can go back to normal. Remember to grab the power ups with the Return Path logo to help. It’s all eyes on you (sorry, couldn’t resist)!'],
                outro: ['You saw things through and kept your eyes on the prize! See what we did there? Get it? We appreciate your tenacity. And you putting up with our puns.'],
            },
            4: {
                intro: ['Oh my… the worst has happened. That skull-looking thing? It’s rumored that he sent the first spam email about having a Nigerian uncle. You know the one. He’s no good. Blast him and eliminate horrible spam for once and for all!'],
            },
        },
        congrats: {
            headline: ['CONGRATULATIONS!'],
            subheadline: ['You Did It Email Hero'],
            outro: ['We\'re so grateful, Email Hero! You were able to navigate different issues with the greatest of ease and our email marketing program is back to normal. Learn More About Email Heroes Like You!'],
            url: 'https://returnpath.com/email-heroes/stories',
        },
    };
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/phaser/3.6.0/phaser.min.js?ver=5.1.1"></script>
<script src="{{ site.baseurl }}/assets/js/scene.js"></script>
<script src="{{ site.baseurl }}/assets/js/level.js"></script>
<script src="{{ site.baseurl }}/assets/js/demo.js"></script>
<script src="{{ site.baseurl }}/assets/js/level1.js"></script>
<script src="{{ site.baseurl }}/assets/js/level2.js"></script>
<script src="{{ site.baseurl }}/assets/js/level3.js"></script>
<script src="{{ site.baseurl }}/assets/js/level4.js"></script>
<script src="{{ site.baseurl }}/assets/js/congrats.js"></script>
<script src="{{ site.baseurl }}/assets/js/intro.js"></script>
<script src="{{ site.baseurl }}/assets/js/game.js"></script>
